 <!-- Page Header -->
 <header class="masthead" style="background-image: url('img/contact-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Contact Me</h1>
            <span class="subheading">Have questions? I have answers.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

<!-- content -->
<div class="container">
    <div class="row">
        <div class="row m-auto" ng-show="!check_login"><h1>login before test</h1></div>
        <div class="row m-auto" ng-show="check_login">
            <div class="container my-5" id="content">
                <div class="row" ng-show="!inProfess">
                    <div class="col text-center">
                        <h3 style="color:blue;">Start the quiz</h3>
                        <button class="btn btn-primary" ng-click="start()">Start</button>
                    </div>
                </div>
            
                <div ng-show="inProfess">
                    <div class="row" ng-show="quizOver">
                        <div class="col text-center">
                        <h3 style="color:red;">Quiz is Over</h3>
                            <button class="btn btn-primary" ng-click="reset()">Play Again</button>
                        </div>
                    </div>
                    <div ng-show="!quizOver">
                        <div class="row">
                            <div class="col text-center">
                                <h2><i class="fas fa-clock" style="color: #23B5E1;"></i><span id="time">{{counter|Timer}}</span></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card border-info">
                                    <div class="card-header text-white" style="background-color: #23B5E1;">
                                        <img src="images/logos/JAAV.png" width="30" class="border border-primary rounded-lg" alt="">
                                        <span>{{nameSubject}}</span>
                                        <span class="float-right badge badge-dark" style="padding: .28em .7em;">{{id}}/10</span>
                                    </div>
                                    <div class="card-body">
                
                                        <div class="card-text" style="font-weight: 500;">
                                            <label for="" style="font-weight: 700;font-size: 18px;">{{question}}</label>
                                            <hr>
                                            <div class="form-check" ng-repeat="option in options">
                                                
                                                <label class="form-check-label" for="Radios1">
                                                <input class="form-check-input" type="radio" name="answer" value="{{option.Id}}">
                                                    {{option.Text}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div ng-show="answerMode">
                                            <button ng-click="checkAnswer()" class="btn btn-primary">Submit</button>
                                        </div>
                                        <div ng-show="!answerMode">
                                            <button ng-click="nextQuestion()" class="btn btn-primary">Next</button>
                                            <span ng-show="correctAns">Correct!</span>
                                            <span ng-show="!correctAns">InCorrect!</span>
                                        </div>
                                        <span class="badge badge-success"
                                            style="padding: .28em .7em; font-size: 90%; font-weight: 500;">Điểm:
                                            {{score}}/10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>